body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    position: absolute;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.3); */
}
.header{
    position: sticky;
    width: 100%;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
    display: inline-block;

}
#logoname{
    float: left;
    width: 250px;
    height: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin: 10px;
    border-radius: 10px;
}

div nav a{
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    padding: 5px 0 10px 10px;
    color: #black;
    text-decoration: none;
    border-left: 1px solid #efefef;
    display: inline-block;
    font-size: 20px
}

.aboutme{
    border: 2px solid black;
    width: 35%;
    margin: 20px;
    background-color: aqua;
}

/* .aboutme p::before{
    content: url(../images/me.png);
}     */

#addme a img{
   max-width: 50px;
   max-height: 50px;
}